@charset "utf-8";
.pumant {
  left: 0;
  right: 0;
  top: 0;
}
.pumanb {
  left: 0;
  right: 0;
  bottom: 0;
}
.lay {
  height: 200px;
  width: 200px;
  border: 2px solid green;
}
.lay div {
  background-color: #ff0000;
  height: 30px;
  position: fixed;
  transform: translate(-50%);
  left: 25%;
}
