html{
    font-size:625%;
}
/*header*/
header{
    position:absolute;
    width:100%;
    left:0;
    right:0;
    top:0;
    height:1.5rem;
    z-index:999;
}
.followus{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-left:12%;
    padding-right:12%;
    color:#29b078;
    background:white;

}
.followus a{
    width:0.3rem;
    height:0.3rem;
    display:inline-block;
}
.wechat{
    background:url("../img/wechat.png") no-repeat right bottom;
}
.qq{
    background:url("../img/qq.png") no-repeat right bottom;
}
.sina{
    background:url("../img/sina.png") no-repeat right bottom;
}
.navigation{
    position:absolute;
    background:#29b078 url("../img/jinengshu.png") no-repeat 12% center;
    width:100%;
    height:1.2rem;
    padding-right:12%;

}
.navigation a{
    display:block;
    float:right;
    margin-top:0.5rem;
    margin-left:4.5vw;
    color:white;
    font-size:0.15rem;
    height:0.7rem;
    text-decoration: none;
    text-align:center;
    width:5vw;
    white-space: nowrap;
}
.navigation a:hover{
    border-bottom:4px solid white;
}
main{
    position: absolute;
    margin-top:1.7rem;
    padding-left:12%;
    padding-right:12%;
}
.slidebar{
    border-bottom:1px solid lightgrey;
    width:12rem;
    right:0;
    left:0;
    padding-top:0.3rem;

}
.ff1{

    color:green;
}
.breadcrumb{
    background-color:white;
}
.breadcrumb > li + li:before {
    color: black;
     content: " ";
    padding: 0 5px;
}
.breadcrumb > li a{
    color: black;
}
.breadcrumb > li a:hover{
    background-color:#29b078;
    color:white;
}
.cc1{
    color:lightgrey;
   display:inline-block;
    margin-top:25%;
    margin-left:17%;
}
.ff5{
    margin-top:-0.2rem;
}
.qps {
    color: lightgrey;
    white-space: nowrap;
    font-size:0.1rem;
}
.qpt{
    box-shadow: 2px 2px 10px lightgrey;
    margin-top:0.3rem;
}
.biaoti{
    margin-top:0.3rem;
}
.red{
    color:red;
}
.fk{
    display:flex;
    justify-content: space-between;
}
main{
    position: relative;
    margin-bottom:1.5rem;
}
footer{
    position: relative;
    background-color:#29b078;
    width:100%;
    left:0;
    right:0;
    bottom:0;
    height:2.5rem;
    color:white;
    font-size:0.17rem;
}
footer a{
    font-size:0.15rem;
    color:white;

}
.aboutus{
    padding-top:0.5rem;
    display:flex;
    justify-content: space-between;
    padding-left:12%;
    padding-right:12%;
}
.left1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cc2 a{
    border-right:2px solid white;
    padding-right:0.2rem;
}
.middle1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.copyright{
    margin-top:0.3rem;
    text-align: center;
    color:white;
    font-size:0.13rem;
}