@charset "utf-8";
.pumant {
  left: 0;
  right: 0;
  top: 0;
}
.pumanb {
  left: 0;
  right: 0;
  bottom: 0;
}
.space {
  display: flex;
  justify-content: space-between;
}
.puman {
  width: 100%;
}
.padding {
  padding-left: 4%;
  padding-right: 4%;
}
.border {
  border: 1px solid #d3d3d3;
}
.noboder {
  left: 0;
  top: 0;
  right: 0;
}
.button {
  width: 0.72rem;
  line-height: 0.35rem;
  padding: 0 0.1rem;
  border-radius: 0.05rem;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 625%;
}
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  line-height: 0.5rem;
  text-align: center;
  font-size: 0.16rem;
  height: 0.5rem;
  background: #5fc0cd url("../img/iconheader.png") 96% center no-repeat;
  background-size: 0.3rem 0.3rem;
}
header .bt1 {
  background-color: #55a8b3;
  color: #fff;
  border: 2px solid #55a8b3;
  margin-right: -0.1rem;
}
header .bt2 {
  background-color: #ffffff;
  color: #5fc0cd;
  border: 2px solid #fff;
}
header button {
  width: 0.72rem;
  line-height: 0.35rem;
  padding: 0 0.1rem;
  border-radius: 0.05rem;
}
.dp {
  position: fixed;
  top: 0.5rem;
  font-size: 0.16rem;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e1e5e7;
  background-color: #ffffff;
}
.dp-cell {
  flex: 1;
  background: url("../img/dropdownicon.png") 89% center no-repeat;
  background-size: 0.05rem 0.05rem;
  border-right: 1px solid #e1e5e7;
}
.dropdown-toggle {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 0.5rem;
  line-height: 0.5rem;
  padding-left: 13%;
}
@media screen and (max-width: 320px) {
  .dropdown-toggle {
    float: left;
    display: inline;
    margin-left: 0;
    text-align: left;
  }
}
.dropdown-toggle {
  color: #adadad;
}
li {
  list-style: none;
}
.content {
  position: absolute;
  top: 1rem;
  width: 100%;
  font-size: 0.14rem;
  overflow: auto;
  z-index: -2;
}
.content ul {
  margin: 0;
}
.textarea {
  border-bottom: 1px solid #e1e5e7;
  padding: 0.1rem 4%;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}
.date {
  color: #cccccc;
  background: url("../img/calendar2.png") left top no-repeat;
  background-size: 0.2rem 0.2rem;
}
.date p {
  padding-left: 0.25rem;
}
.time {
  display: flex;
  justify-content: space-between;
  background: url("../img/green.png") right center no-repeat;
  overflow: hidden;
  text-overflow: ellipsis;
}
.time1 {
  padding-left: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.price {
  padding-right: 0.2rem;
  color: #e63b0e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.location {
  color: #cccccc;
  background: url("../img/Shape4.png") left top no-repeat;
  background-size: 0.15rem 0.15rem;
}
.location p {
  padding-left: 0.25rem;
}
/*footer*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 0.16rem;
  text-align: center;
  height: 1rem;
  background-color: #f8fafb;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-top: 0.3px solid #e1e5e7;
}
footer .front {
  color: #5fc0cd;
  float: left;
  display: inline;
  margin-left: 22.5%;
  display: flex;
  flex-direction: column;
}
footer .mine {
  color: #a5a5a5;
  float: right;
  display: inline;
  margin-right: 22.5%;
  display: flex;
  flex-direction: column;
}
.scc {
  min-width: 1.2rem;
  width: 100%;
}
