html {
    font-size: 625%;
}
body{
    background-color:#eff0f4;
    margin:0;
}
header{
    position:fixed;
    background: #5fc0cd;
    height:0.32rem;
    line-height: 0.32rem;
    font-size:0.16rem;
    padding: 0.07rem 0.1rem;
    left: 0;
    right: 0;
    top: 0;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
header a {
    color:white;
    font-size:0.14rem;
    text-decoration:none;
}
header .a3{
    font-size:0.18rem;
}
main{
    position: absolute;
    top:0.46rem;
    bottom:0;
    left: 0;
    right: 0;
    background-color:#eff0f4;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
main .content{
    height:auto;
    font-size:0.14rem;
}
.login1{
    width:100%;
    background: #fff;
    margin: .1rem 0 0 0;
}
.login input {
    box-sizing: border-box;
    width: 100%;
    font-size: 0.16rem;
    line-height: 0.5rem;
    padding:0 0.1rem 0 0.9rem;
    outline:none;
    border: 0 none;
    }

input[type=text] {
    background:white url("../img/iphone.png") no-repeat 0.32rem center;

}
input[type=password] {
    background: white url("../img/locked2.png") no-repeat 0.3rem center;


}
.button1{
    margin-top: .3rem;
    width: 100%;
    line-height: .5rem;
    .font-s(36px);
    letter-spacing: 1em;
    background: #5fc0cd;
    color:white;
    border: 0 none;
}
.code a{
    float: right;
    color: #5fc0cd;
    padding:0 0.1rem 0 0;
    font-size:0.15rem;
}
