html {
    font-size: 62.5%;
}
body {
    background-color:#68cdd5;
    font-size:1rem;
}
.arrow
{
    margin:2%;
    position:relative;
}
.headlogo{
    text-align:center;
    padding-top:5%;
    position:relative;
    line-height:3rem;
}
h1{
    font-size:3rem;
    color:white;
    font-family:宋体;
    text-align:center;
    position:relative;
    margin-top:4rem;
}
p{
    font-size:2rem;
    color:white;
    font-family:宋体;
    text-align:center;
}
.xueyuan
{
    float:left;
    padding:20rem 0 5rem 20rem;
}
.contentlogo
{
    float:right;
    padding:20rem 20rem 5rem 0;
}


